*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    font-family: 'Baloo Bhai 2', cursive;
}

div, section , span , ul, li,a ,p, header, button{
    box-sizing: border-box;
}
header{
    width: 100%;
    background-color: #81b30980;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    position: fixed;
    z-index: 1;
    border-radius: 100px;
}

#navi li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#navi li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

section{
    width: 100%;
    height: 600px;
    float: left;
    position: relative;
}
#home{
background-color: blueviolet;
}
#home::before{
    content: "";
    background: url('../img/bg2.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    /* z-index: -1; */
    opacity: 1.4;
}
#about{
    color: turquoise;
    /* background-color: palegreen; */
    background: url(../img/bga.jpg) no-repeat center center/cover;
    /* opacity: 0.; */
}
#product{
/* background-color: firebrick; */
z-index: -1;
}
#contact{
background: url("../img/contact2.jpg") no-repeat center center/cover;
}
h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: rgb(255 4 4);
    font-size: 57px;
    text-shadow: -3px -1px 8px #09abb380;
}
h3{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: rgb(255 4 4);
    font-size: 57px;
    text-shadow: -3px -1px 8px #09abb380;
}

p , button{
    position: absolute;
    top: 60%;
    left: 53%;
    transform: translate(-50% , -50%);
    color: rgb(255 255 255);
    font-size: 29px;
    text-shadow: 2px 2px 8px #ff0000;
}

#about-info{
    
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* top: 216%; */
    margin-top: 4rem;
    font-size: 2rem;

}
#text-dec{
    margin: 1rem;
    font-size: 2.2rem;
    font-family: 'Dancing Script', cursive;
}

.ab-heading{
    top: 10%;
}

#services{
    margin: 34px;
    display: flex;
}
#services .box{ 
    border: 2px solid brown;
    padding: 22px;
    /* top: 44px; */
    margin: 48px;
    margin: 79px 59px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 30px;
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;

} 

#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}
#new-btn{
    top: 35rem;
    width: 11%;
    border-radius: 10px;
    background-color: blue;
    cursor: pointer;
}
/* #feet{
    background-color: black;
} */
.h-primary{
    font-size:26px;
}

.h-secondary{
    font-size: 2.5rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid black;
    background-color: rgb(42, 154, 165);
    color: black;
    font-size: 2.5rem;
    border-radius: 5px;
    top: 86%;
    box-shadow: -6px -3px #6485c1;
    left: 50%;
  }
  
  .btn:hover span {
    display: none
  }
.btn:hover:before {
    content: "Tanya Sharma"
  }
.center{
    text-align: center;
}


 